<div class="card" style="width: 18rem;">
  <img [src]="imagen" class="card-img-top" [alt]="titulo" *ngIf="imagen != null">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text" *ngFor="let descripcion of descripciones">
      {{descripcion}}
    </p>
    <!-- Botón para Visualizar lab -->
    <button [routerLink]="['./', id]" class="btn btn-primary rounded shadow me-2 mb-2">
      <i class="fas fa-eye btn-icon" style="color: aliceblue;"></i>
    </button>
    <!-- Botón para Editar -->
    <button [routerLink]="['./editar', id]" class="btn btn-warning rounded shadow me-2 mb-2">
      <i class="fas fa-edit btn-icon" style="color: aliceblue;"></i>
    </button>
    <!-- Botón para Borrar -->
    <button (click)="openModal(id)" type="button" class="btn btn-danger rounded shadow text-secondary mb-2">
      <i class="fas fa-trash-alt btn-icon" style="color: aliceblue;"></i>
    </button>
  </div>
</div>