<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="d-flex flex-row-reverse mb-5">
    <button type="button" class="btn btn-primary rounded shadow-lg" routerLink="add">+ Agregar Laboratorios</button>
  </div>
 
  <div class="table-responsive rounded shadow-lg">
    <table class = "table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-light border">
        <tr>
          <td>a</td>
          <td>b</td>
          <td>c</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>