<div class="container mt-5">
  <div class="d-flex flex-row-reverse">
    <button type="button" class="close btn fs-4 text-align-right" routerLink="../" aria-label="Close" id="btnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>   
  <form>
    <fieldset>
      <legend>{{isEdit ? 'Editar' : 'Cargar'}} una nueva máquina virtual</legend>
      <div class="form-group">
        <label for="sistemaOperativo" class="form-label mt-4">Sistema Operativo</label>
        <input type="text" class="form-control" id="sistemaOperativo" name="sistemaOperativo" placeholder="Windows 7" [(ngModel)]="maquinaVirtual.sistemaOperativo">
      </div>
      <div class="form-group">
        <label for="materias" class="form-label mt-4">Materias</label>
        <textarea class="form-control" id="materias" name="materias" rows="3" placeholder="Sintaxis, Paradigmas, Algoritmos" [(ngModel)]="maquinaVirtual.materias"></textarea>
      </div>
      <div class="form-group">
        <label for="programas" class="form-label mt-4">Programas</label>
        <textarea class="form-control" id="programas" name="programas" rows="3" placeholder="MySql Workbench, Visual Studio Code, Smalltalk" [(ngModel)]="maquinaVirtual.programas"></textarea>
      </div>
      <button type="button" class="btn btn-primary mt-4" (click)="onSubmit()">Enviar</button>
    </fieldset>
  </form>
</div>