<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5 d-flex justify-content-center align-items-center h-100">
    <div class="d-flex flex-wrap">
      <div class="col d-flex justify-content-center m-3">
        <button class="btn btn-dark btn-custom w-100" routerLink="/nuevorequerimiento">Nuevo requerimiento</button>
      </div>
      <div class="col d-flex justify-content-center m-3">
        <button class="btn btn-dark btn-custom w-100" [routerLink]="['/misrequerimientos', 'Pendiente']">Requerimientos en proceso</button>
      </div>
      <div class="col d-flex justify-content-center m-3">
        <button class="btn btn-dark btn-custom w-100" [routerLink]="['/misrequerimientos', 'Finalizado']">Requerimientos cerrados</button>
      </div>
      <div class="col d-flex justify-content-center m-3">
        <button class="btn btn-dark btn-custom w-100">Consultar laboratorios</button>
      </div>
      <div class="col d-flex justify-content-center m-3">
        <button class="btn btn-dark btn-custom w-100">Consultar máquinas virtuales</button>
      </div>
    </div>
  </div>
</div>
