<app-navbar></app-navbar>

<div class="container">
  <div class="mt-5 d-flex justify-content-center align-items-center h-100">
    <div class="d-flex row">
      <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-dark btn-custom m-3">Nuevo requerimiento</button>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-dark btn-custom m-3">Requerimientos en proceso</button>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-dark btn-custom m-3">Requerimientos cerrados</button>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-dark btn-custom m-3">Consultar laboratorios</button>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <button class="btn btn-dark btn-custom m-3">Consultar máquinas virtuales</button>
      </div>
    </div>
  </div>
</div>
